@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.7813rem, 0.7767rem + 0.0204vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9222rem + 0.068vw, 1rem);
  --step-0: clamp(1.125rem, 1.0944rem + 0.1361vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.298rem + 0.2313vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5384rem + 0.3626vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.8222rem + 0.5414vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.1567rem + 0.7825vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.5507rem + 1.1051vw, 3.8147rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4707rem + 0.4082vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7832rem + 0.4082vw, 1.25rem);
  --space-m-l: clamp(1.6875rem, 1.4885rem + 0.8844vw, 2.5rem);
  --space-s-m: clamp(1.125rem, 0.9413rem + 0.8163vw, 1.875rem);
  --space-xl-2xl: clamp(2.8125rem, 2.4298rem + 1.7007vw, 4.375rem);
  /* Custom pairs */
  --space-l-4xl: clamp(2.25rem, 0.0459rem + 9.7959vw, 11.25rem);
  --space-l-3xl: clamp(2.25rem, 0.9643rem + 5.7143vw, 7.5rem);
  --space-l-xl: clamp(2.25rem, 2.0357rem + 0.9524vw, 3.125rem);
  --vibrant-blue: hsl(204, 75%, 60%);
  --dark-blue: hsl(199, 70%, 36%);
  --primary-white: hsl(0, 0%, 97%);
  --secondary-white: hsl(180, 1%, 75%);
  --primary-grey: hsl(180, 1%, 94%);
  --dark-teal: #0c3139;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-teal);
  min-height: 10vh;
  min-width: 100%;
  padding-inline: 50px;
  z-index: 10;
  position: fixed;
}
nav .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav .logo img {
  width: 60px;
  border: 1px solid white;
  margin-block: 20px;
}
nav .logo p {
  color: var(--primary-white);
  font-family: "Syne", sans-serif;
  font-size: var(--step-0);
  font-weight: 600;
  letter-spacing: 1.1;
}
nav .logo p span {
  font-family: "Syne", sans-serif;
  font-weight: inherit;
  color: var(--vibrant-blue);
  letter-spacing: 1.1;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li:last-of-type {
  margin-right: 5px;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 15px;
  margin-inline: 5px;
}

@media (width <= 928px) {
  nav {
    padding-inline: 30px;
  }
  nav .logo {
    gap: 20px;
  }
  nav .logo img {
    width: 40px;
  }
  nav ul {
    display: none;
  }
}
.button {
  color: black;
  font-weight: 600;
  font-size: calc(var(--step--1) + 1px);
  background-color: var(--dark-blue);
  padding-inline: calc(var(--space-s-m) + 0.2rem);
  padding-block: calc(var(--space-2xs-xs) + 0.2rem);
}

.white {
  background-color: var(--primary-white);
}

header {
  min-width: 100%;
  min-height: 100dvh;
  background-image: url("../images/server_room_1.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: start;
}
header::before {
  content: "";
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
header * {
  z-index: 2;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline: var(--space-l-4xl);
  margin-block: var(--space-l-3xl);
}
header .container .proof {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space-2xs-xs);
}
header .container .proof .img-container {
  position: relative; /* Essential for positioning the overlay */
  width: var(--space-m-l);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover; /* Keeps the image within bounds if it's larger */
  border: 1px solid rgba(176, 175, 175, 0.707); /* Optional: adds a subtle border */
}
header .container .proof .img-container:nth-of-type(1) {
  background-image: url("../images/orange.png");
}
header .container .proof .img-container:nth-of-type(2) {
  background-image: url("../images/yas.jpeg");
  left: -18px;
}
header .container .proof .img-container:nth-of-type(3) {
  background-image: url("../images/kanteco.jpeg");
  left: -36px;
}
header .container .proof .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(176, 175, 175, 0.207); /* A subtle white background with transparency */
  border-radius: 50%; /* Optional: adds rounded corners to the overlay */
}
header .container .proof p {
  color: var(--secondary-white);
  font-weight: 800;
  margin: 0;
  position: relative;
  font-size: calc(var(--step-0) - 2px);
  left: -22px;
}
header .container h1 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: var(--step-5);
  color: var(--primary-white);
  max-width: 700px;
  line-height: 1;
  margin-bottom: var(--space-xs-s);
}
header .container p {
  color: var(--primary-grey);
  font-size: var(--step-0);
  font-weight: 500;
  max-width: 55ch;
  margin-bottom: var(--space-xl-2xl);
  text-justify: auto;
  line-height: 1.5;
}
header .container .button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header .container a {
  text-decoration: none;
}

header {
  min-width: 100%;
  min-height: 100dvh;
  background-image: url("../images/server_room_1.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: end;
  justify-content: start;
}
header::before {
  content: "";
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
header * {
  z-index: 2;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-inline: var(--space-l-4xl);
  margin-block: var(--space-l-3xl);
}
header .container .proof {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--space-2xs-xs);
}
header .container .proof .img-container {
  position: relative; /* Essential for positioning the overlay */
  width: var(--space-m-l);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-size: cover; /* Keeps the image within bounds if it's larger */
  border: 1px solid rgba(176, 175, 175, 0.707); /* Optional: adds a subtle border */
}
header .container .proof .img-container:nth-of-type(1) {
  background-image: url("../images/orange.png");
}
header .container .proof .img-container:nth-of-type(2) {
  background-image: url("../images/yas.jpeg");
  left: -18px;
}
header .container .proof .img-container:nth-of-type(3) {
  background-image: url("../images/kanteco.jpeg");
  left: -36px;
}
header .container .proof .img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(176, 175, 175, 0.207); /* A subtle white background with transparency */
  border-radius: 50%; /* Optional: adds rounded corners to the overlay */
}
header .container .proof p {
  color: var(--secondary-white);
  font-weight: 800;
  margin: 0;
  position: relative;
  font-size: calc(var(--step-0) - 2px);
  left: -22px;
}
header .container h1 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: var(--step-5);
  color: var(--primary-white);
  max-width: 700px;
  line-height: 1;
  margin-bottom: var(--space-xs-s);
}
header .container p {
  color: var(--primary-grey);
  font-size: var(--step-0);
  font-weight: 500;
  max-width: 55ch;
  margin-bottom: var(--space-xl-2xl);
  text-justify: auto;
  line-height: 1.5;
}
header .container .button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header .container a {
  text-decoration: none;
}

main > * {
  padding-inline: var(--space-l-4xl);
}

section {
  padding-block: 100px;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-teal);
}
.partners .title h2 {
  text-align: center;
}
.partners .title p {
  text-align: center;
}
.partners .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
  gap: 50px;
}
.partners .wrapper img {
  height: 90px;
}

.title h2 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: var(--step-4);
  color: var(--primary-white);
  max-width: 700px;
  line-height: 1;
  margin-bottom: var(--space-s-m);
}
.title p {
  color: var(--primary-grey);
  font-size: var(--step-0);
  font-weight: 500;
  max-width: 55ch;
  margin-bottom: var(--space-xl-2xl);
  text-justify: auto;
  line-height: 1.5;
}

.services {
  background-color: var(--dark-blue);
}
.services h2 {
  max-width: 20ch;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.card-wrapper .card {
  background: #000;
  width: 100%;
  height: 350px;
  margin-right: 20px;
}