@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  --vibrant-blue: hsl(204, 75%, 60%);
  --dark-blue: hsl(199, 70%, 36%);
  --primary-white: hsl(0, 0%, 97%);
  --secondary-white: hsl(180, 1%, 75%);
  --dark-teal: #0c3139;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-teal);
  height: 10vh;
  padding-inline: 50px;
}
nav .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav .logo img {
  width: 60px;
  border: 1px solid white;
}
nav .logo p {
  color: var(--primary-white);
  font-family: "Syne", sans-serif;
  font-size: var(--step-0);
  font-weight: 700;
  letter-spacing: 1.1;
}
nav .logo p span {
  font-family: "Syne", sans-serif;
  font-weight: inherit;
  color: var(--vibrant-blue);
  letter-spacing: 1.1;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 15px;
  margin-inline: 5px;
}

@media (width <= 900px) {
  nav {
    padding-inline: 30px;
  }
  nav .logo {
    gap: 20px;
  }
  nav .logo img {
    width: 40px;
  }
  nav ul {
    display: none;
  }
}