@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
@import "variables";
@import "components/navbar";
@import "components/button";
@import "components/hero";
@import "components/partner";
@import "components/why";
@import "components/work";
@import "components/cta";
@import "components/footer";
