// button call
.button {
  color: white;
  font-weight: 600;
  font-size: calc(var(--step--1) + 1px);
  background-color: hsl(199, 100%, 30%);
  padding-inline: calc(var(--space-s-m) + 0.2rem);
  padding-block: calc(var(--space-2xs-xs) + 0.2rem);
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  &:hover {
    scale: 1.01;
  }
}
.white {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
}
.teal {
  background-color: var(--dark-teal);
}
.cta-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 458px) {
  .cta-buttons .button {
    width: 100%;
  }
}
