// button call
.button {
  color: black;
  font-weight: 600;
  font-size: calc(var(--step--1) + 1px);
  background-color: var(--dark-blue);
  padding-inline: calc(var(--space-s-m) + 0.2rem);
  padding-block: calc(var(--space-2xs-xs) + 0.2rem);
}
.white {
  background-color: var(--primary-white);
}
