/* --- CTA Section --- */
.cta-section {
  background-color: var(--dark-blue);
  padding: var(--space-l-2xl);
}
.float {
  background-color: rgba(100, 100, 100, 0.4);
  border: 3px solid var(--primary-white);
  padding: 100px var(--space-l-2xl);
  text-align: center;
  color: var(--white);
  border-radius: 12px;
}
.cta-content h2 {
  color: var(--white);
  font-size: var(--step-4);
  font-family: "Syne", sans-serif;
  font-weight: normal;
  color: var(--primary-white);
}

.cta-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: var(--step-0);
  max-width: 600px;
  margin: 0 auto 2.5rem;
}
