/* --- CTA Section --- */
.cta-section {
  background-color: #0b0b0b;
  padding: 70px;
}
.float {
  background-color: #0b0b0b; /* Fallback */
  // background: linear-gradient(
  //   135deg,
  //   #101c2c 0%,
  //   #004e7a 100%
  // ); /* Styled like image_1 bottom area */
  border: 3px solid var(--dark-teal);
  padding: 100px 0;
  text-align: center;
  color: var(--white);
  border-radius: 12px;
}
.cta-content h2 {
  color: var(--white);
  font-size: var(--step-4);
  font-family: "Syne", sans-serif;
  font-weight: normal;
  color: var(--primary-white);
}

.cta-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: var(--step-0);
  max-width: 600px;
  margin: 0 auto 2.5rem;
}
