header {
  min-width: 100%;
  min-height: 100dvh;
  background-image: url("../images/server_room_1.png");
  background-position: center center;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: end;
  justify-content: start;
  &::before {
    content: "";
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
  }
  * {
    z-index: 2;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-inline: var(--space-l-4xl);
    margin-block: var(--space-l-3xl);

    .proof {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: var(--space-2xs-xs);
      // margin: 20px;
      .img-container {
        position: relative; /* Essential for positioning the overlay */
        width: var(--space-m-l);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-size: cover; /* Keeps the image within bounds if it's larger */
        border: 1px solid rgba(176, 175, 175, 0.707); /* Optional: adds a subtle border */
        &:nth-of-type(1) {
          background-image: url("../images/orange.png");
        }
        &:nth-of-type(2) {
          background-image: url("../images/yas.jpeg");
          left: -18px;
        }
        &:nth-of-type(3) {
          background-image: url("../images/kanteco.jpeg");
          left: -36px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(176, 175, 175, 0.207);
          border-radius: 50%;
        }
      }
      p {
        color: var(--secondary-white);
        font-weight: 800;
        margin: 0;
        position: relative;
        font-size: calc(var(--step-0) - 2px);
        left: -22px;
      }
    }
    h1 {
      font-family: "Syne", sans-serif;
      font-weight: 400;
      font-size: var(--step-5);
      color: var(--primary-white);
      max-width: 700px;
      line-height: 1;
      margin-bottom: var(--space-xs-s);
    }
    p {
      color: var(--primary-grey);
      font-size: var(--step-0);
      font-weight: 500;
      max-width: 55ch;
      margin-bottom: var(--space-xl-2xl);
      text-justify: auto;
      line-height: 1.5;
    }
    .button-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    a {
      text-decoration: none;
    }
  }
}
@media (428px > width) {
  .sub {
    display: none;
  }
}
