body {
  background-color: var(--page-bg);
  color: var(--text-gray);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-1 {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.contact-section {
  padding-block: calc(var(--space-l-2xl) + 12vh);
  background-color: var(--dark-teal);
}

.contact-header {
  text-align: center;
  margin-bottom: var(--space-xl-2xl);
}

.contact-header h2 {
  font-family: var(--font-heading);
  font-size: var(--step-5);
  margin-bottom: var(--space-2xs-xs);
  color: var(--primary-white);
  font-weight: 400;
  line-height: 1.2;
}

.contact-header p {
  font-size: var(--step-0);
  max-width: 65ch;
  margin-inline: auto;
  color: var(--primary-grey);
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-l-xl);
  align-items: start;
}

.quick-contact {
  display: flex;
  flex-direction: column;
  gap: var(--space-s-m);
}

.consultation-form-wrapper {
  background-color: var(--white);
  padding: var(--space-l-xl);
  border-radius: 16px;
  box-shadow: var(--shadow-form);
  height: 100%;
}

@media (max-width: 992px) {
  .contact-content {
    grid-template-columns: 1fr;
  }
}

.quick-contact h3 {
  font-size: var(--step-3);
  margin-bottom: var(--space-s-m);
  color: var(--primary-white);
  font-weight: 400;
  font-family: var(--font-heading);
}

.contact-info-block {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-s-m);
  padding: var(--space-s-m);
  background-color: var(--secondary-white);
  border-radius: 12px;
  border: 1px solid var(--input-border);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
}

.contact-info-block .icon {
  margin-right: var(--space-s-m);
  width: 48px;
  height: 48px;
  background: var(--dark-teal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.contact-info-block .icon img {
  width: 24px;
  height: 24px;
  object-fit: contain;

  filter: brightness(0) invert(1);
}

.info-text strong {
  display: block;
  font-size: var(--step-0);
  margin-bottom: 4px;
  color: var(--text-dark);
}

.map-container h3 {
  font-size: var(--step-2);
  margin-bottom: var(--space-xs-s);
  color: var(--primary-white);
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--font-heading);
}

.map-placeholder {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  background-color: #e0e6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-gray);
  font-weight: bold;
  border: 1px solid var(--input-border);
}

.consultation-form-wrapper {
  background-color: var(--secondary-white);
  padding: var(--space-l-xl);
  border-radius: 16px;
  box-shadow: var(--shadow-form);
}

.consultation-form-wrapper h3 {
  font-size: var(--step-3);
  margin-bottom: var(--space-2xs-xs);
  color: var(--text-dark);
  font-weight: 400;
  font-family: var(--font-heading);
}

.consultation-form-wrapper p {
  margin-bottom: var(--space-m-l);
  font-size: var(--step--1);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s-m);
}

.form-group {
  margin-bottom: var(--space-m-l);
  flex: 1 1 200px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--text-dark);
  font-size: var(--step--1);
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 14px 18px;
  background-color: var(---secondary-white);
  border: 1px solid var(--dark-blue);
  border-radius: 6px;
  color: var(--text-dark);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--vibrant-blue);
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 178, 255, 0.1);
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.btn-submit {
  width: 100%;
  padding: 16px;
  font-size: var(--step-0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background-color: #00383a;
}

.main-footer {
  background-color: #0b0b0b;
  color: var(--primary-white);
  padding-block: var(--space-l-2xl);
  margin-top: auto;
}

.footer-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-xl-2xl);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.brand-name {
  letter-spacing: 1px;
  font-size: var(--step-0);
  font-family: var(--font-heading);
}

.tagline {
  font-size: var(--step--2);
  opacity: 0.7;
}

.address {
  margin-top: var(--space-m-l);
  font-size: var(--step--1);
  opacity: 0.8;
  line-height: 1.5;
}

.footer-heading {
  font-size: var(--step-0);
  margin-bottom: var(--space-s-m);
  color: white;
  font-family: var(--font-heading);
}

.footer-links li {
  margin-bottom: 0.8rem;
}

.footer-links a {
  color: var(--white);
  opacity: 0.7;
  transition: opacity 0.3s;
  font-size: var(--step--1);
}

.footer-links a:hover {
  opacity: 1;
}
.google-map {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  border: 3px solid var(--dark-blue);
  display: block;
}

@media (min-width: 1024px) {
  .google-map {
    height: 350px;
  }
}
#message {
  min-height: 250px;
}
