nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-teal);
  background: rgba(14, 26, 37, 0.75);
  backdrop-filter: blur(12px);
  /* Adds a very subtle highlight at the top of the bar */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  min-height: 10vh;
  min-width: 100%;
  padding-inline: 50px;
  z-index: 10;

  position: fixed;
  //   padding-block: 50px;
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    li {
      list-style-type: none;
      &:last-of-type {
        margin-right: 5px;
      }
    }
    a {
      text-decoration: none;
      color: white;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      padding: 20px;
      margin-inline: 10px;
    }
  }
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  img {
    width: 60px;
    border: 1px solid white;
    margin-block: 20px;
  }
  p {
    color: var(--primary-white);
    font-family: "Syne", sans-serif;
    font-size: var(--step-0);
    font-weight: 600;
    letter-spacing: 1.1;
    span {
      font-family: "Syne", sans-serif;
      font-weight: inherit;
      color: var(--vibrant-blue);
      letter-spacing: 1.1;
    }
  }
}
@media (width <= 928px) {
  nav {
    padding-inline: 30px;
    .logo {
      gap: 20px;
      img {
        width: 40px;
      }
    }
    ul {
      display: none;
    }
  }
}
