.choice {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--dark-blue);
  justify-items: center;
  align-items: center;
  gap: 100px;
  .icon {
    width: var(--space-5xl-6xl);
    aspect-ratio: 1/1;
    border: 20px solid var(--vibrant-blue);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
  }

  .icon-strip {
    display: flex;
    width: 400%;
    height: 100%;
    animation: infiniteSlide 8s infinite ease-in-out;
  }

  .icon-item {
    flex: 0 0 25%;
    height: 100%;
    background-color: var(--vibrant-blue);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 60%;
    mask-size: 60%;
    -webkit-mask-position: center;
    mask-position: center;
  }

  .key {
    -webkit-mask-image: url("../images/key.svg");
    mask-image: url("../images/key.svg");
  }
  .lock {
    -webkit-mask-image: url("../images/star.svg");
    mask-image: url("../images/star.svg");
  }
  .gear {
    -webkit-mask-image: url("../images/focus.svg");
    mask-image: url("../images/focus.svg");
  }

  @keyframes infiniteSlide {
    0%,
    20% {
      transform: translateX(0%);
    }

    25%,
    45% {
      transform: translateX(-25%);
    }

    50%,
    70% {
      transform: translateX(-50%);
    }

    75%,
    95% {
      transform: translateX(-75%);
    }

    100% {
      transform: translateX(-75%);
    }
  }
  .game-changer {
    h2 {
      font-family: "Syne", sans-serif;
      font-weight: 400;
      font-size: var(--step-4);
      color: var(--primary-white);
      max-width: 600px;
      line-height: 1;
      margin-bottom: var(--space-m-l);
    }
    ul {
      li {
        list-style: none;
        display: flex;
        gap: 16px;
        &::before {
          content: "";
          flex-shrink: 0;
          width: var(--step-2);
          height: var(--step-2);

          -webkit-mask-image: url("../images/angle-right.svg");
          mask-image: url("../images/angle-right.svg");
          -webkit-mask-size: contain;
          mask-size: contain;
          mask-repeat: no-repeat;

          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
.square-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--step-2) * 3);
  aspect-ratio: 1/1;
  background-color: transparent;
  border: 5px solid var(--primary-white);
  transition: background-color 0.2s ease;
  border-radius: 12px;
  padding-left: 10px;
  &:hover {
    scale: 1.02;
  }
  .icon-mask {
    background-color: var(--primary-white);
    &:hover {
      scale: 1.02;
    }
  }
}

.icon-mask {
  display: block;
  width: calc(var(--step-2) * 2);
  aspect-ratio: 1/1;

  background-color: #ffffff;

  -webkit-mask-image: url("../images/angle-right.svg");
  mask-image: url("../images/angle-right.svg");

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  transition: background-color 0.2s ease;
}
